<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do app</title>
    <style>
        .hidden{
            display: none;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width:200px;
            cursor: pointer;
            font-size: 20px;
        }

        li{
            clear: both;
        }

        li button{
            -webkit-appearance: none;
            border:none;
            outline: none;
            color : red;
            float : right;
        }

    </style>
</head>
<body>
    <div class="error hidden">Something went wrong</div>
    <!-- Form  -->
    <div>
        <form id="form">
            <input type="text" name="description" id="description" />
            <input type="submit" value="Create" />
        </form>
    </div>
  
    <!--Todos-->
    <div>
        <ul id="todos">
            {% for todo in todos %}
            <li class='todo_item'>
                <input type="checkbox" data-id="{{todo.id}}" class="check-completed" {% if todo.completed%} checked {% endif %} > 
                {{ todo.description }}
                <button class="delete-button" data-id='{{todo.id}}'>&cross;</button>
            </li>
            {% endfor %}
         </ul>
    </div>




    <script>

    //For updating the to do item
    const checkboxes = document.querySelectorAll('.check-completed')
    console.log(checkboxes)

    for(let i = 0; i < checkboxes.length; i++){
        const checkbox = checkboxes[i]
        checkbox.onchange = function(e){
            const completedState = e.target.checked;
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId + '/set-completed', {
                method : 'POST',
                body : JSON.stringify({
                    'completed' : completedState
                }),
                headers : {
                    'Content-Type' : 'application/json'
                }
            })
            .then(function(){
                document.getElementById('error').className = 'hidden';
            })
            .catch(function(){
                document.getElementById('error').className = '';
            })
        }
    }





    // Adding todo item
        document.getElementById('form').onsubmit = function(e){
            e.preventDefault();
            fetch('/todos/create', {
                method : 'POST',
                body : JSON.stringify({
                    'description' : document.getElementById('description').value,
                }),
                headers : {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response){
                return response.json();
            })
            .then(function(jsonResponse){
                console.log(jsonResponse)
                const liItem = document.createElement('li');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem)
                document.getElementById('error').className = 'hidden';
                document.getElementById('description').value = ''
            })
            .catch(function(){
                document.getElementById('error').className = '';
            })
        }




        //For deleting the todo
        const deleteButtons = document.querySelectorAll('.delete-button')
        deleteButtons.forEach((deleteButton, i)=>{
            deleteButton.onclick = (e) => {
                const todoId = e.target.dataset['id']
                fetch('/todos/' + todoId, {
                    method : 'DELETE'
                })
            }
        })

    </script>
</body>
</html>